body {
    background-color: red;
    background-image: url("../images/59261795-takeaway-fast-food-burgers-background-for-cafe-menu-design-usage-with-seamless-pattern-of-hamburgers.jpg");
    background-blend-mode: darken;
    margin: 0 auto;
    color: black;
}

img {
    height: 75px;
}

.logo {
    float: left;
    margin-right: 10px;
}